.anchor1{
    -fx-background-color: #f2f2f2;
}
.anchor2{
    -fx-background-color : #00b5b5;
}
.anchor3{
    -fx-background-color: white;
}

.text-field{
    -fx-text-inner-color : #000000;
    -fx-text-fill : #000000;
    -fx-prompt-text-fill: gray;
}
.label1{
    -fx-text-fill : black;
    -fx-font-size: 16;
    -fx-text-family: "System";
}
.label2{
    -fx-text-fill : black;
    -fx-font-size: 14;
    -fx-text-family: "System";
}
.label3{
    -fx-text-fill : #f2f2f2;
    -fx-font-size: 18;
    -fx-text-family: "System";
}
.label4{
    -fx-text-fill : white;
    -fx-font-size: 18;
    -fx-text-family: "System";
    -fx-font-weight: bold;
}
.button1{
    -fx-font-size: 18;
}
.line{
    -fx-stroke: #6e9cf7;
}
.combo-box{
    -fx-text-fill: #6e9cf7;
    -fx-prompt-text-fill: grey;
}
.radio-button{
    -fx-font-size: 18;
    -fx-text-fill: white;
    -jfx-selected-color: #fbfdce;
    -jfx-unselected-color: white;
}
.check-box{
    -fx-font-size: 14;
}
