.anchor1{
    -fx-background-color: #f2f2f2;
}
.anchor2{
    -fx-background-color : #00b5b5;
}
.anchor3{
    -fx-border-color: #00b5b5;
    -fx-background-color: white;
}

.text-field{
    -fx-font-family: Arial;
    -fx-text-inner-color : #000000;
    -fx-text-fill : #000000;
    -fx-prompt-text-fill: gray;
}

.label1{
    -fx-text-fill : black;
    -fx-font-size: 16;
    -fx-font-family: Arial;
}
.label2{
    -fx-text-fill : black;
    -fx-font-size: 14;
    -fx-font-family: Arial;
}
.label3{
    -fx-text-fill : #f2f2f2;
    -fx-font-size: 18;
    -fx-font-family: Arial;
}
.label4{
    -fx-text-fill : black;
    -fx-font-size: 18;
    -fx-font-family: Arial;
}
.label5{
    -fx-text-fill : #5e5e5e;
    -fx-font-size: 22;
    -fx-font-family: Arial;
}

.button1{
    -fx-font-family: Arial;
    -fx-font-size: 18;
    -fx-border-color: #00b5b5;
    -fx-border-radius: 5;
}

.radio-button{
    -fx-font-size: 18;
    -fx-text-fill: black;
    -fx-font-family: Arial;
    -jfx-selected-color: #6e9cf7;
    -jfx-unselected-color: gray;
}

.text-area{
    -fx-font-family: Arial;
    -fx-font-size: 14;
}

.progress-indicator{
    -fx-progress-color: #6b5ad9;
}

